{% extends 'wavesapp/base.html' %}
{% load staticfiles %}
{% block content %}

<style>
body{
  padding-left: 20px;
  padding-right: 20px;
}
</style>
<h1>About Us</h1>
<p> we are an app that promotes salons,barber shops and freelancers
  . We deliver an unforgettable experience, delivered to you by extraordinary barbers and salons.</p>


<h1>Terms of Service</h1>
<p>THIS IS AN AGREEMENT BETWEEN YOU AND WAVES DIRECTS

These Terms of Service (“Terms” or “Agreement”) govern your access to and use of waves direct.Site’s Internet-based services (“Services”), including
 without limitation, Internet navigation assistance web pages or application results containing search results, localized events pages, and other content offered through www.waves direct, as well as any web page or mobile application that links to or references these Terms (collectively, "Directory.Site Web Pages"). The   Services may provide paid advertisements to unpaid search results. Spon advertisements, listings, and sponsored information may be given priority over unpaid listings.</p>

<h1> Privacy policy</h1>
<p> This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’
I)advertisements
able Information in accordance with our website.

What personal information do we collect from the people that visit our blog, websibackgroundI)advertisements
able Information in accordance with our website.

What personal information do we collect from the people that visit our blog,  as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.
How do we use your information?

    To personalize user’s  and to allow us to deliver the type of content and product offerings in which you are most interested
    To improve our website in order to better serve you.
    To allow us to better service you in responding to your customer service requests.
    To administer a contest, promotion,
    survey or other site feature.
    To send periodic emails regarding your order or other products and services.

{% endblock %}
