{% extends "wavesapp/base.html"%}
{% load staticfiles %}
{% block content %}

<style media="screen">
.comment {
  margin: 20px 0px 20px 20px;
  text-align: center;
}
</style>

<h2 style="color:black;text-align:center;font-size:70px;padding-bottom:40px;margin-left:40px;">
  New comment</h2>
  <div class="myComment">
    <form method="POST" class="post-form">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit" class="save btn btn-success">Send</button>
    </form>

  </div>
{% endblock content %}
