{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Waves</title>
    <link rel="stylesheet" href="{% static 'wavesapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'wavesappcss/font-awesome' %}">
    <link rel="stylesheet" href="{% static 'wavesapp/css/style.css' %}">
  </head>
  <body>
<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbarbrand" href="{% url 'home' %}" >HOME</a>
    </div>
   </nav>

   <!-- END OF NAV -->
<div class="container">
   <form class="form">
  <div class="row">
      <h1>Waves Direct</h1>
      <div class="searchbar">
        <input class="search" type="text" placeholder="search">
        <button class="btn.btn-primary" type='search'>Enter</button>
      </div>
      <div class="cent" style="padding-top:10px;">
      <a class="ref" href="" style="margin-right:20px;">Salons</a>
      <a class="ref" href="" style="margin-left:20px;">Barbershop</a>
      <a cl="ref" href="" style="margin-left:40px;">Freelancers</a>
      </div>
    </div>
</form>
</div>
 <!-- END OF  DIV CLASS PIC -->

<div class="about">
 <footer class="footer">
<div class="container/*padding: 8cm;*/">
      <div class="row">
      <div class="col-md-4">
        <h2>ABOUT US</h2>
        <a class="info" href="">About waves direct</a><br>
        <a  class="info" href="">Terms Of Service</a><br>
        <a class="info" href="">Privacy Policy</a><br>
      </div>
      <div class="col-md-4">
       <h2>DISCOVER</h2>
       <a class="info"href="">Waves Blog</a><br>
       <a class="info"href="">Developers</a><br>
       <form class="form-horizontal">
         <div class="form-group">
         </div>
      <div class="form-group">

      </div>
    </form>
   </div>
  </footer>
</div>
</div>
 </div>
END OF FOOTER
 <script src="{% static 'wavesapp/jquery-3.2.1.js' %}"></script>
 <script src="{% static 'wavesapp/bootstrap.js' %}"></script>
 <script src="{% static 'wavesapp/script.js' %}"></script>
  </body>
  </html>
