{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Waves</title>
    <link rel="stylesheet" href="{% static 'wavesapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'wavesapp/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'wavesapp/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- <a class="navbarbrand" href="{% url 'home' %}" >HOME</a> -->
    <ul id="menu">
      <li>
        <a class="navbarbrand" href="" >Menu</a>
      <!-- <a href="#">Categories</a> -->
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.profile %}
            <li><a href="{% url 'profile_detail' pk=user.id %}">Profile</a></li>
            {% endif %}

            <li><a href="{% url 'edit_profile' %}">Account</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'logout'%}">Logout</a></li>
            {% endif %}
          </ul>
        </ul>
        {% if user.is_authenticated %}
        <p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{user.username}}</a></p>
        {% else%}
        <div class="navbar-right">
          <a class="navbarbrand" href="{% url 'login' %}">Login</a>
         <a class="navbarbrand" href="{% url 'signup' %}"><b>Sign Up</b></a>
          <a class="navbarbrand" href="{% url 'profile' %}">Create Profile</a>


        {% endif %}
  </div>
 </div>

</div>
</nav>
<!-- END OF NAV -->
{% block content %}

 <div class="imageBG"  style=" background:url('{% static "wavesapp/images/salon-masthead.jpg"%}') no-repeat center;background-size:100% 100%;" class="pic">


 <div class="container" >
   <div class="row">
     <form  class="form" action ="{% url 'search' %}" role="search" method="get" accept-charset="utf-8" style=" height:500px;">
       <div class="row"><script src="{% static 'wavesapp/script.js' %}"></script>
         <h1>Waves Direct</h1>
         <div class="searchbar">
           <input class="search" id="btn"type="text" placeholder="search" name="q">
           <button href="{% url 'search' %}" class="button" id="txtSearch" type='search'>Enter</button>
         </div>
         <div class="cent" style="padding-top:10px;">
           <a class="ref" href="{% url 'profile_list' role=1 %}" style="margin-right:20px;">Salons</a>
           <a class="ref" href="{% url 'profile_list' role=2 %}" style="margin-left:20px;">Barbershop</a>
           <a class="ref" href="{% url 'profile_list' role=3 %}" style="margin-left:20px;">Freelancers</a>
         </div>
       </div>
     </form>

   </div>
 </div>
</div>

{% endblock %}



<!-- END OF  DIV CLASS PIC-->
<div class="about">
 <footer class="footer">
   <hr>
   <div class="container">
      <div class="row">
      <div class="col-md-4">
        <h2>ABOUT US</h2>
       <a class="info" href="{% url 'about'%}">About waves direct</a><br>
        <a  class="info" href="{% url 'about'%}">Terms Of Service</a><br>
         <a class="info" href="{% url 'about'%}">Privacy Policy</a><br>
      </div>
       <div class="col-md-4">
        <form class="form-horizontal">
           <div class="form-group">

             <h2>DISCOVER</h2>
             <!-- <a class="info"href="">Waves Direct Blog</a><br> -->
             <a class="info"href="{% url 'developers'%}">Developers</a><br><script src="{% static 'wavesapp/script.js' %}"></script>
           </div>
         </div>
       </form>
    </div>
    </div>
  </footer>
</div>


<!-- END OF FOOTER -->
<script src="{% static 'wavesapp/js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'wavesapp/js/bootstrap.js' %}"></script>
<script src="{% static 'wavesapp/js/script.js' %}"></script>


</body>
</html>
