{% extends "wavesapp/base.html"%}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}



<div class="container-fluid" style="padding:40px">
<form id="post_form" method="post" action=""
      enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in GalleryForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in g %}
        {{ field.errors }} <br />
        {{ field.label_tag }}
        {{ field }} <br />
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}


  <input type="submit" name="submit" value="Submit" />
</form>
</div>
{% endblock %}
