{% extends "wavesapp/base.html" %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'wavesapp/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'wavesapp/css/font-awesome' %}">
<link rel="stylesheet" href="{% static 'wavesapp/css/style.css' %}">


{% block content %}
    {% for profile in profiles %}
    <div class="container">
      <div class="row">
        <hr>
          <div class="col-md-2">

          </div>
          <div class="col-md-4">
              <img src="{{ profile.uploadphoto.url }}" alt="my image" style="width:240px;height:200px;">
          </div>
          <div class="col-md-6">
            <h3><a href="{% url 'profile_detail' pk=profile.user.id %}" style="color: black;">{{ profile.company_name }}</a></h3>
            <h4><a href="{% url 'profile_detail' pk=profile.user.id %}" style="color: silver;">{{profile.location }}</a></h4>
            <h4><a href="{% url 'profile_detail' pk=profile.user.id  %}" style="color: silver;">{{profile.phone }}</a></h4>

            <a href="{% url 'reserve' pk=profile.user.id %}"><button type="button" name="appoinments" class="btn-primary">Appoinments</button></a>
          </div><br><br>
      </div>
      <a href="{% url 'profile_detail' pk=profile.user.id  %}">Comments: {{ Profile.approved_comments.count }}</a>
      <div>
            <h4><a href="{% url 'profile_detail' profile.id %}">
            {{ Profile.company_name }}
            </a></h4>
            <h5>{{ Profile.review_set.count }} reviews</h5>
            <h5>{{ Profile.average_rating | floatformat }} average rating</h5>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
