{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>reserve</title>
    <link rel="stylesheet" href="{% static 'wavesapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'wavesappcss/font-awesome' %}">
  </head>
  </head>
  <body>
<div class="jumbotron">
  <h1>Make Appointment</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in appointment_form %}
    <div class="form-group">
      {{ field.errors }}
      {% render_field field placeholder=field.label class='form-control' %}
      {% if field.help_text %}
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" name="send">Send</button>

  </form>
</div>
  </body>
</html>
