{% extends "wavesapp/base.html"%}

{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>reserve</title>
    <link rel="stylesheet" href="{% static 'wavesapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'wavesappcss/font-awesome' %}">
  </head>
  </head>
  <body>
{% block content %}
<div id="content-container" class="container p-none">
<div class="lgn-container col-lg-6 " style="text-align:center;margin-left:300px; padding-top:30px;">
<div class="jumbotron" style="height:900px;">
  <h1>Make Appointment</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in appointment_form %}
    <div class="form-group">
      {{ field.errors }}
      {% render_field field placeholder=field.label class='form-control' %}
      {% if field.help_text %}
      {% endif %}
    </div>
    {% endfor %}
    <a href="{% url 'confirm_booking' pk=company_name.user.id %}" > <button class="btn btn-success" type="submit" name="send">Send</button> </a>

  </form>
</div>
</div>
</div>
{% endblock %}
<script src="{% static 'wavesapp/script.js' %}"></script>
  </body>
</html>
