{%load staticfiles%}
{% block title %}Login{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
      <div class="col-md-6 row-block">
          <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-block">Login with Facebook</a>
        </div>
        <h2>OR</h2>
      <div class="lgn-container col-lg-8">
        <form id="login-form" method="post">

          {% csrf_token %}
          <table class="table">
           <tr>
               <td><input id="id_username" name="username"
                           type="text" class="form-control" placeholder="Username"></td>
           </tr>
           <tr>
               <td><input id="id_password" name="password"
                                   type="password" class="form-control" placeholder="Password"></td>
           </tr>
         </table>
         {% if form.errors %}
           <p class=" label label-danger">
               Your username and password didn't match.
               Please try again.
           </p>
        {% endif %}

          <input type="submit" value="Login"
                  class="btn btn-primary pull-right" />
          <input type="hidden" name="next" value="{{ next }}" />
          <h2>OR</h2>
          <div class="col-md-6 row-block">
            <a href="{% url 'signup' %}"> Signup</a>
            <!-- <a href="{% url 'signup' %}"> Creat Profile</a> -->
          </div>
      </form>
    </div>
    </div>
{% endblock content %}
